* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  padding: 40px;
}

#siteHeader {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  border-bottom: 1px solid black;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  &.sticky-top {
    background-color: red;
  }
  &.sticky-down {
    background-color: green;
  }
  &.sticky-up {
    background-color: blue;
  }
}

.playground-main {
  min-height: 200vh;
  margin-top: 60px;
}

.playground-row {
  padding: 40px;
  border: 1px solid #dbdbdb;
  border-radius: 10px;
  h2 {
    margin-bottom: 20px;
  }
}
