* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  padding: 40px;
}

sticky-header {
  header {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    border-bottom: 1px solid black;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    z-index: 10;
  }
  &.sticky-top {
    header {
      background-color: red;
    }
  }
  &.sticky-down {
    header {
      background-color: green;
    }
  }
  &.sticky-up {
    header {
      background-color: rgb(7, 7, 92);
      color: white;
    }
  }
}

.checkbox-toggler {
  &__checkbox {
    display: none;
    &:checked + .checkbox-toggler__dropdown {
      visibility: visible;
      height: auto;
      opacity: 1;
    }
  }
  &__dropdown {
    visibility: hidden;
    height: 0;
    opacity: 0;
    transition: 0.3s ease-in-out;
  }
}

.playground-main {
  min-height: 200vh;
  margin-top: 60px;
}

.playground-row {
  padding: 40px;
  border: 1px solid #dbdbdb;
  border-radius: 10px;
  margin-bottom: 10px;
  h2 {
    margin-bottom: 20px;
  }
  .toggler-btn {
    border: 1px solid black;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
    &.active {
      .toggler-btn {
        &__on {
          display: block;
        }
        &__off {
          display: none;
        }
      }
    }
    &__on {
      background-color: green;
      color: white;
      display: none;
      padding: 10px 20px;
    }
    &__off {
      background-color: red;
      color: white;
      display: block;
      padding: 10px 20px;
    }
    &__reciever {
      &.active {
        display: block;
      }
      border: 1px solid black;
      padding: 10px;
      border-radius: 5px;
      display: none;
      margin-top: 5px;
    }
  }
  .toggler-nav {
    ul {
      list-style-type: none;
      display: flex;
      li {
        padding: 10px;
        border: 1px solid black;
        margin-right: 10px;
        border-radius: 5px;
        cursor: pointer;
        &.active {
          background-color: green;
          color: white;
        }
      }
    }
  }
  .toggler-tab {
    width: 100%;
    display: none;
    margin-top: 10px;
    h3 {
      margin-bottom: 5px;
    }
    &.active {
      display: block;
    }
  }
}

.animate-text {
  opacity: 0;
  transition: opacity 1s;
  &.show-me {
    opacity: 1;
  }
}

.turn-red {
  animation: turnRed ease 1s;
  animation-fill-mode: forwards;
  transform-origin: left;
}
@keyframes turnRed {
  0% {
    color: inherit;
  }
  100% {
    color: red;
  }
}

form {
  width: 100%;
  input {
    width: 100%;
    height: 40px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 0 10px;
    margin-bottom: 10px;
    &.error {
      border: 1px solid red;
    }
  }
  .error {
    .error-container {
      display: block;
    }
  }
  .error-container {
    display: none;
  }
  // form status ele
  .form-status {
    margin-bottom: 10px;
    &__message {
      display: none;
    }
    &__loading {
      display: none;
    }
    &[data-form-status=""] {
      display: none;
    }
    &[data-form-status="error"] {
      .form-status__message {
        display: block;
      }
    }
    &[data-form-status="success"] {
      .form-status__message {
        display: block;
      }
    }
    &[data-form-status="loading"] {
      .form-status__loading {
        display: block;
      }
    }
  }
}

.disclosure {
  display: block;
  margin-bottom: 10px;
  &:last-child {
    margin-bottom: 0;
  }
  [open] {
    summary {
      border-radius: 5px 5px 0 0;
    }
  }
  summary {
    cursor: pointer;
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
  }
  div {
    border: 1px solid black;
    border-radius: 0 0 5px 5px;
    border-top: none;
  }
}

.detail-dropdown {
  width: 100%;
  height: 100px;
  border: 1px solid;
  display: block;
}

// Carousel

// required
carousel-container {
}
carousel-track {
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  overflow: auto;
  display: flex;
}
carousel-slide {
  scroll-snap-align: start;
  flex: 0 0 100%; // width of slide
}

// styling
carousel-slide:focus {
  border: 2px solid green;
}

carousel-slide {
  height: 400px;
  background-color: rgb(34, 34, 34);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
}
carousel-slide[active="true"] {
  background-color: rgb(0, 0, 0);
}
carousel-controls {
  button {
    width: 40px;
    height: 40px;
    svg {
      width: 50%;
      height: 50%;
    }
  }
}
carousel-pagination {
  ul {
    list-style-type: none;
    display: flex;
  }
  button {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: black;
    border: none;
    margin: 0 5px;
    border: 2px solid black;
    &.active {
      background-color: red;
    }
    &:focus {
      border: 2px solid blue;
    }
  }
}
carousel-progress {
  height: 10px;
  background-color: red;
  display: block;
  width: 0;
  transition: 0.3s;
}

.carousel-vertical {
  position: relative;
  carousel-track {
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
    flex-direction: column;
    height: 400px;
    position: relative;
    z-index: 2;
  }
  carousel-slide {
    flex: 0 0 100%;
  }
  carousel-progress {
    position: absolute;
    left: 0;
    top: 0;
    width: 10px;
    height: 0;
    z-index: 2;
    transition: 0;
  }
}

// --------------------------------
// Animation styles
animate-container {
  animation-delay: 0s;
  animation-duration: 0.3s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: both;
  backface-visibility: hidden;
  // Default DIV styles
  display: block;
  position: relative;

  // Animate
  &[animate="true"] {
    // fade-in
    &[type="fade-in"] {
      animation-name: fade-in;
      @media (prefers-reduced-motion: reduce) {
        animation-name: fade-in-reduced;
      }
    }
    // ADD MORE ANIMATIONS HERE
  }

  // Default
  &[animate="false"] {
    // fade-in
    &[type="fade-in"] {
      opacity: 0;
      transform: translate3d(0, 10px, 0);
      @media (prefers-reduced-motion: reduce) {
        transform: translate3d(0, 0, 0);
      }
    }
  }
}

// --------------------------------
// Keyframes
@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translate3d(0, 10px, 0);
  }
  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
@keyframes fade-in-reduced {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
